@using Microsoft.Extensions.Configuration

@model ShoppingApp.Web.UI.Areas.Shop.ViewModels.UpdateStoreProfileViewModel

@inject IConfiguration configuration
@section Scripts{
    <script>var KTProfile = function () {
            // Elements
            var avatar;
            var offcanvas;

            var _initAside = function () {
                offcanvas = new KTOffcanvas('kt_profile_aside', {
                    overlay: true,
                    baseClass: 'offcanvas-mobile',
                    //closeBy: 'kt_user_profile_aside_close',
                    toggleBy: 'kt_subheader_mobile_toggle'
                });
            }

            var _initForm = function () {
                avatar = new KTImageInput('kt_profile_avatar');
            }

            return {
                // public functions
                init: function () {
                    _initAside();
                    _initForm();
                }
            };
        }();

        jQuery(document).ready(function () {
            KTProfile.init();
        });</script>
    <script src="/scripts/sluggenerator.js"></script>

    <script>var avatar1 = new KTImageInput('kt_image_1');

        $('.formOnSubmit').on('click', function (event) {
            var title = $(".name");
            var slug = $(".slug");
            slug.val(url_slug(title.val()));
            $("#UpdateStoreForm").submit();
        });</script>
}
<!--begin::Profile Personal Information-->
<div class="d-flex flex-row">
    <!--begin::Aside-->
    <div class="flex-row-auto offcanvas-mobile w-250px w-xxl-350px" id="kt_profile_aside">
        <!--begin::Profile Card-->
        <div class="card card-custom card-stretch">
            <!--begin::Body-->
            <div class="card-body pt-4">
                <!--begin::User-->
                <div class="d-flex align-items-center">
                    <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
                        <div class="symbol-label" style="background-image:url('@Model.ProfilePhotoUrl')"></div>
                        <i class="symbol-badge bg-success"></i>
                    </div>
                    <div>
                        <a href="#" class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">@Model.StoreName</a>

                    </div>
                </div>
                <!--end::User-->
                <!--begin::Contact-->
                <div class="py-9">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <span class="font-weight-bold mr-2">Email:</span>
                        <label class="text-muted text-hover-primary">@Model.Email</label>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <span class="font-weight-bold mr-2">Phone:</span>
                        <span class="text-muted">@Model.PhoneNumber</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="font-weight-bold mr-2">Location:</span>
                        <span class="text-muted">@Model.Address.AddressLine</span>
                    </div>
                </div>
                <!--end::Contact-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Profile Card-->
    </div>
    <!--end::Aside-->
    <!--begin::Content-->
    <div class="flex-row-fluid ml-lg-8">
        <!--begin::Card-->
        <div class="card card-custom card-stretch">
            <!--begin::Header-->
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">Store Information</h3>
                    <span class="text-muted font-weight-bold font-size-sm mt-1">Update your Store informaiton</span>
                </div>
                <div class="card-toolbar">
                    <button class="btn btn-success mr-2 formOnSubmit">Save Changes</button>
                </div>

            </div>
            <!--end::Header-->
            <!--begin::Form-->
            <form id="UpdateStoreForm" method="post" enctype="multipart/form-data">
                <!--begin::Body-->
                <div class="card-body">
                    <div class="row">
                        <label class="col-xl-3"></label>
                        <div class="col-lg-9 col-xl-6">
                            <h5 class="font-weight-bold mb-6">Store Info</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Logo</label>
                        <div class="col-lg-9 col-xl-6">
                            <div class="image-input image-input-outline" id="kt_profile_avatar" style="background-image: url(assets/media/users/blank.png)">
                                <div class="image-input-wrapper" style="background-image: url(@Model.ProfilePhotoUrl)"></div>
                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                    <input type="file" asp-for="ProfilePhoto" name="profile_avatar" accept=".png, .jpg, .jpeg" />
                                    <input type="hidden" name="profile_avatar_remove" />
                                </label>
                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>
                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="Remove avatar">
                                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>
                            </div>
                            <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="StoreName" class="col-xl-3 col-lg-3 col-form-label"></label>
                        <div class="col-lg-9 col-xl-6">
                            <input asp-for="StoreName" disabled class="form-control form-control-lg form-control-solid" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label" asp-for="Description"></label>
                        <div class="col-lg-9 col-xl-6">
                            <textarea class="form-control form-control-lg form-control-solid" asp-for="Description"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-xl-3"></label>
                        <div class="col-lg-9 col-xl-6">
                            <h5 class="font-weight-bold mt-10 mb-6">Contact Info</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Contact Phone</label>
                        <div class="col-lg-9 col-xl-6">
                            <div class="input-group input-group-lg input-group-solid">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="la la-phone"></i>
                                    </span>
                                </div>
                                <input asp-for="PhoneNumber" class="form-control form-control-lg form-control-solid" />
                            </div>
                            <span asp-validation-for="PhoneNumber" class="form-text text-muted"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Email Address</label>
                        <div class="col-lg-9 col-xl-6">
                            <div class="input-group input-group-lg input-group-solid">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="la la-at"></i>
                                    </span>
                                </div>
                                <input asp-for="Email" class="form-control form-control-lg form-control-solid" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label">Company Site</label>
                        <div class="col-lg-9 col-xl-6">
                            <div class="input-group input-group-lg input-group-solid">

                                <div class="input-group-append">
                                    <span class="input-group-text">@configuration["SiteSettings:Domain"]/</span>
                                </div>
                                <input asp-for="StoreSlug" type="text" class="form-control form-control-lg form-control-solid name slug" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-xl-3"></label>
                        <div class="col-lg-9 col-xl-6">
                            <h5 class="font-weight-bold mt-10 mb-6">Address Info</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-xl-3 col-lg-3 col-form-label" asp-for="Address.AddressLine"></label>
                        <div class="col-lg-9 col-xl-6">
                            <div class="input-group input-group-lg input-group-solid">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="la la-map-marker"></i>
                                    </span>
                                </div>
                                <input asp-for="Address.AddressLine" class="form-control form-control-lg form-control-solid" />
                            </div>
                            <span asp-validation-for="Address.AddressLine" class="form-text text-muted"></span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-xl-3"></label>
                        <div class="col-xl-3">
                            <!--begin::Input-->
                            <div class="form-group">
                                <label asp-for="Address.ZipCode"></label>
                                <input asp-for="Address.ZipCode" class="form-control form-control-solid form-control-lg" placeholder="AZ0000" />
                                <span asp-validation-for="Address.ZipCode" class="form-text text-muted"></span>
                            </div>
                            <!--end::Input-->
                        </div>
                        <div class="col-xl-3">
                            <!--begin::Input-->
                            <div class="form-group">
                                <label asp-for="Address.SelectedCityId"></label>
                                <select asp-for="Address.SelectedCityId" asp-items="Model.Address.Cities" class="form-control form-control-solid form-control-lg">
                                    <option value="">Select City</option>
                                </select>
                                <span asp-validation-for="Address.SelectedCityId" class="form-text text-muted"></span>
                            </div>
                            <!--end::Input-->
                        </div>
                    </div>
                </div>
                <!--end::Body-->
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn btn-success mr-2 formOnSubmit">Save Changes</button>
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>
    <!--end::Content-->
</div>
<!--end::Profile Personal Information-->